section.project-container {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  background-color: whitesmoke;
  text-align: center;
  margin: 30px;
}

.project-container a{
  color: black;
  text-decoration: underline;
}

img.project-image {
  display: block;
  margin: 0 auto;
  max-width: 70%;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 10px;
}

.project-description {
  font-size: 16px;
  margin: 0 0 10px;
}

a {
  text-decoration: none;
}
